{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Centre</title>
  <style>
  button.absent {
      background-color: red;  /* Change the background color for absent */
      color: white;           /* Change the text color for absent */
  }

  button.present {
      background-color: green;  /* Change the background color for present */
      color: white;             /* Change the text color for present */
  }
</style>

</head>

<body>

  <!-- centre.html -->
  <h1>Désignation du centre {{ centre.code }} :</h1>
  <h2>{{ centre.designation }}</h2>
   

  <!-- Employee Table -->
  <h3>
    <p>Liste des employés</p>
    <a href="{% url 'create_employe' %}"><button class="button-add"> Add Employe </button></a></td>
  </h3>
  <table border="1">
    <thead>
      <tr>
        <th>Code Employé</th>
        <th>Nom Employé</th>
        <th>ABSENCE</th>
      </tr>
    </thead>
    <tbody>
      {% for employe in employes %}
        {% for paiement in today_paiements %}
          {% if paiement.employe.id == employe.id %}
            <tr>
              <td><a href="{% url 'detail_employe' employe.id %}">{{ employe.id }}</a></td>
              <td>{{ employe.nom }}</td>
              <td>
                <form method="post" action="{% url 'modify_absence' employe.id %}">
                  {% csrf_token %}
                  <button type="submit" class="{% if paiement.absence %}absent{% else %}present{% endif %}">
                      ABSENCE
                  </button>
                </form>
              </td>
              <td>
                {% if not paiement.absence %}
                  <button><a href="{% url 'paiement_employe' employe.id %}">Payer</a></button>
                {% endif %}
              </td>
            </tr>
          {% endif %}
        {% endfor %}
      {% endfor %}
    </tbody>
  </table>
  
  <br />

  <!-- Sales Table -->
  <h3>Vente :</h3>
  <a href="{% url 'inserer_Client' %}"><button class="button-add"> Ajouter Client </button></a>

  <a href="{% url 'vendre_produit' centre.id %}">
    <button>Saisir vente</button>
  </a>

  <br />
  <br />
  <table border="1">
    <thead>
      <tr>
        <th>Date Vente</th>
        <th>Code Vente</th>
        <th>Nom Client</th>
        <th>Montant Total</th>
        <th>Crédit</th>
        <th>Règlement</th>
      </tr>
    </thead>
    <tbody>
      {% for vente in ventes %}
      <tr>
        <td>{{ vente.date_vente }}</td>
        <td>{{ vente.code }}</td>
        <td>{{ vente.client.nom }}</td>
        <td>{{ vente.montant_total }}</td>
        <td>{{ vente.credit }}</td>
        <td><a href="{% url 'reglement_credit_client' vente.id %}"><button>Règlement Crédit</button></a></td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="6">Aucune donnée de vente disponible.</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <br />
  <br />
  <a href="{% url 'Journal_Vente_Produit' centre.id %}">
    <button>Journal des Ventes</button>
  </a>
  <br />
  <br />
  <a href="{% url 'stock_state' centre.id %}"><button>Voir l'état du stock</button></a>

  <br />
  <br />
  <!-- Payment Voucher Table -->
  <h3>Tableau PV :</h3>
  <h3>Informations sur Les ventes d'aujourd'huit</h3>
  <table border="1">
    <thead>
      <tr>
        <th>Date</th>
        <th>code Vente</th>
        <!-- <th>code employe</th> -->
      </tr>
    </thead>
    <tbody>
      {% for vente in today_ventes %}
        <tr>
          <td>{{ vente.date_vente }}</td>
          <td>{{ vente.code }}</td>
      {% endfor %}
      {% if today_ventes|length == 0 %}
        <tr>
          <td colspan="3">Aucune transaction aujourd'hui.</td>
        </tr>
      {% endif %}
    </tbody>
</table>
<br/><br/>
    <h3>Informations sur les employes aujourd'huit</h3>
    <table border="1">
      <tr>
          <th>Code Employé</th>
          <th>Montant Payé</th>
          <th>Absence</th>
      
      </tr>
      {% for paiement in today_paiements %}
      <tr>
          <td>{{ paiement.employe.id }}</td>
          {% if paiement.absence %}
               <td>/ \ / \ / \ </td>
              <td>oui</td>
          {% else %}
              <td>{{ paiement.montant }}</td>
              <td>non</td>
          {% endif %}
          {% endfor %}
      </tr>
	      {% if today_paiements|length == 0 %}
	      <tr>
	          <td colspan="3">Aucune transaction aujourd'hui.</td>
	        </tr>
	      {% endif %}
      
  </table>

  <br />

  <a href="{% url 'calcul_ventes_nettes' centre.id %}">
    <button>Calculer Ventes Nette</button>
</a>

<br />
 <a href="{% url 'magasin' %}">
  <button>Retourner vers la page magasin</button>
</a>
<br /><br /><br /><br />
<!-- template.html -->
<form method="post" action="{% url 'calcul_benefice' centre_id=centre.id  %}">
  {% csrf_token %}
  {{ form.date_debut }}
  {{ form.date_fin }}
  {{ form.pourcentage_absence }}
  <button type="submit">Calculate Benefit</button>
  <input type="hidden" name="{{ form.calculate_button.name }}" value="{{ form.calculate_button.value }}">
</form>


</body>
</html>
