<!DOCTYPE html>

{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Créer Produit</title>
    <link rel="stylesheet" href="{% static 'css/css.css' %}">

</head>
<body>

<!-- create_produit.html -->
<form method="post" action="{% url 'create_produit' %}">
    {% csrf_token %}
    {{ form.as_p }}  <!-- Affichage du formulaire, y compris le champ 'matieres' -->
    <input type="submit" value="Enregistrer">
  </form>
  
</body>
</html>