<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Detail Produit</h1>

    
    <p><strong>Produit:</strong> {{ produit.designation }}</p>
    <p><strong>Matiere-Quantite:</strong></p>
    <table border="1">
        <thead>
            <tr>
                <th>Matiere</th>
                <th>Quantite</th>
            </tr>
        </thead>
        <tbody>
            {% for info in matiere_quantite_info %}
                <tr>
                    <td>{{ info.matiere.designation }}</td>
                    <td>{{ info.quantite }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
    
    

  



</body>
</html>