
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Détails de l'employé</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/employe.css' %}?v=2"> -->
  </head>

  
  <body>

    <div class="container">
      <h2>Détails de l'employé</h2>
  
      <table class="table table-bordered">
        <tr>
          <th>Code</th>
          <td>{{ employe.id }}</td>
        </tr>
        <tr>
          <th>Nom</th>
          <td>{{ employe.nom }}</td>
        </tr>
        <tr>
          <th>Prénom</th>
          <td>{{ employe.prenom }}</td>
        </tr>
        <tr>
          <th>Adresse</th>
          <td>{{ employe.adresse }}</td>
        </tr>
        <tr>
          <th>Téléphone</th>
          <td>{{ employe.telephone }}</td>
        </tr>
        <tr>
          <th>Centre</th>
          <td>{{ employe.centre.designation }}</td>
        </tr>
        <tr>
          <th>Absence</th>
          <td>{% if paiement_today and paiement_today.absence %}oui{% else %}non{% endif %}</td>
        </tr>
        <tr>
          <th>Update</th>
          <td>
            <button class="btn btn-primary">
              <a href="{% url 'create_employe' employe.id %}" style="color: white;">Edit Employe</a>
            </button>
          </td>
        </tr>
        <button class="btn btn-success">
          <a href="{% url 'calcul_salaire' employe.id %}" style="color: white;">calcul_salaire Employe</a>
        </button>
  
      </table>
      <button class="btn btn-info">
        <a href="{% url 'paiement_employe' employe.id %}" style="color: white;">Payer</a>
      </button>
      <h3>Paiements:</h3>
      <table class="table table-bordered">
        <tr>
          <th>Date</th>
          <th>Montant</th>
          <th>Avance(Massrouf)</th>
        </tr>
        {% for paie in paiements %}
          {% if paie.montant != 0 or paie.avance != 0 %}
            <tr>
              <td >{{ paie.date_paiement }}</td>
              <td>{{ paie.montant }}</td>
              <td>{{ paie.avance }}</td>
            </tr>
          {% endif %}
        {% endfor %}
      </table>
  
      <br />
  
      <br />
      <button class="btn btn-secondary">
        <a href="{% url 'centre' employe.centre.id %}">Retour à la liste des employés</a>
      </button>
      <br /><br />
  
    </div>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</html>
